$colors: (
	black: (
		normal: #000,
		light: #333,
		lighter: #555,
	),
	
	gray: (
		darker: #777,
		dark: #999,
		normal: #A5A5A5,
		light: #CCC,
		lighter: #DDD,
	),
	
	white: (
		normal: #FFF,
		dark: #F5F5F5,
		darker: #EEE,
	),
);