.container {
	margin: auto;
	padding: 0 1em;
}

@each $breakpoint, $breakpointMap in $breakpoints {
	@media (min-width: map-get($breakpointMap, screen)) {
		.container {
			max-width: map-get($breakpointMap, grid);
		}
	}
}