@each $breakpoint, $breakpointMap in $breakpoints {
	@each $displayType in $displayTypes {
		$className: #{$displayType};
		
		@if $breakpoint != mobile {
			$className: $className + "-" + $breakpoint;
		}
		
		@media (min-width: #{map-get($breakpointMap, screen)}) {
			.display-#{$className} {
				display: $displayType;
			}
		}
	}
}

body.js {
	.hide-if-js {
		display: none;
	}
}

body:not(.js) {
	.display-if-js {
		display: none;
	}
}