.box,
.box-simple {
  background-color: #FFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 0.5em; }

.box .box-body,
.box-simple {
  padding: 0.5em; }

.container {
  margin: auto;
  padding: 0 1em; }

@media (min-width: 576px) {
  .container {
    max-width: 540px; } }

@media (min-width: 768px) {
  .container {
    max-width: 720px; } }

@media (min-width: 992px) {
  .container {
    max-width: 960px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1140px; } }

@media (min-width: 1504px) {
  .container {
    max-width: 1440px; } }

@media (min-width: 0px) {
  .display-block {
    display: block; } }

@media (min-width: 0px) {
  .display-inline-block {
    display: inline-block; } }

@media (min-width: 0px) {
  .display-inline {
    display: inline; } }

@media (min-width: 0px) {
  .display-none {
    display: none; } }

@media (min-width: 0px) {
  .display-flex {
    display: flex; } }

@media (min-width: 0px) {
  .display-grid {
    display: grid; } }

@media (min-width: 576px) {
  .display-block-tablet {
    display: block; } }

@media (min-width: 576px) {
  .display-inline-block-tablet {
    display: inline-block; } }

@media (min-width: 576px) {
  .display-inline-tablet {
    display: inline; } }

@media (min-width: 576px) {
  .display-none-tablet {
    display: none; } }

@media (min-width: 576px) {
  .display-flex-tablet {
    display: flex; } }

@media (min-width: 576px) {
  .display-grid-tablet {
    display: grid; } }

@media (min-width: 768px) {
  .display-block-small {
    display: block; } }

@media (min-width: 768px) {
  .display-inline-block-small {
    display: inline-block; } }

@media (min-width: 768px) {
  .display-inline-small {
    display: inline; } }

@media (min-width: 768px) {
  .display-none-small {
    display: none; } }

@media (min-width: 768px) {
  .display-flex-small {
    display: flex; } }

@media (min-width: 768px) {
  .display-grid-small {
    display: grid; } }

@media (min-width: 992px) {
  .display-block-large {
    display: block; } }

@media (min-width: 992px) {
  .display-inline-block-large {
    display: inline-block; } }

@media (min-width: 992px) {
  .display-inline-large {
    display: inline; } }

@media (min-width: 992px) {
  .display-none-large {
    display: none; } }

@media (min-width: 992px) {
  .display-flex-large {
    display: flex; } }

@media (min-width: 992px) {
  .display-grid-large {
    display: grid; } }

@media (min-width: 1200px) {
  .display-block-x-large {
    display: block; } }

@media (min-width: 1200px) {
  .display-inline-block-x-large {
    display: inline-block; } }

@media (min-width: 1200px) {
  .display-inline-x-large {
    display: inline; } }

@media (min-width: 1200px) {
  .display-none-x-large {
    display: none; } }

@media (min-width: 1200px) {
  .display-flex-x-large {
    display: flex; } }

@media (min-width: 1200px) {
  .display-grid-x-large {
    display: grid; } }

.flex-table {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1em; }
  .flex-table [class*="cell-"] {
    padding: 0 1em; }
  @media (min-width: 0px) {
    .flex-table .cell-1 {
      width: calc(((100% / 12) * 1) - 2em); }
    .flex-table .offset-1 {
      margin-left: calc(((100% / 12) * 1)); } }
  @media (min-width: 576px) {
    .flex-table .cell-2 {
      width: calc(((100% / 12) * 2) - 2em); }
    .flex-table .offset-2 {
      margin-left: calc(((100% / 12) * 2)); } }
  @media (min-width: 576px) {
    .flex-table .cell-3 {
      width: calc(((100% / 12) * 3) - 2em); }
    .flex-table .offset-3 {
      margin-left: calc(((100% / 12) * 3)); } }
  @media (min-width: 576px) {
    .flex-table .cell-4 {
      width: calc(((100% / 12) * 4) - 2em); }
    .flex-table .offset-4 {
      margin-left: calc(((100% / 12) * 4)); } }
  @media (min-width: 576px) {
    .flex-table .cell-5 {
      width: calc(((100% / 12) * 5) - 2em); }
    .flex-table .offset-5 {
      margin-left: calc(((100% / 12) * 5)); } }
  @media (min-width: 576px) {
    .flex-table .cell-6 {
      width: calc(((100% / 12) * 6) - 2em); }
    .flex-table .offset-6 {
      margin-left: calc(((100% / 12) * 6)); } }
  @media (min-width: 576px) {
    .flex-table .cell-7 {
      width: calc(((100% / 12) * 7) - 2em); }
    .flex-table .offset-7 {
      margin-left: calc(((100% / 12) * 7)); } }
  @media (min-width: 576px) {
    .flex-table .cell-8 {
      width: calc(((100% / 12) * 8) - 2em); }
    .flex-table .offset-8 {
      margin-left: calc(((100% / 12) * 8)); } }
  @media (min-width: 576px) {
    .flex-table .cell-9 {
      width: calc(((100% / 12) * 9) - 2em); }
    .flex-table .offset-9 {
      margin-left: calc(((100% / 12) * 9)); } }
  @media (min-width: 576px) {
    .flex-table .cell-10 {
      width: calc(((100% / 12) * 10) - 2em); }
    .flex-table .offset-10 {
      margin-left: calc(((100% / 12) * 10)); } }
  @media (min-width: 576px) {
    .flex-table .cell-11 {
      width: calc(((100% / 12) * 11) - 2em); }
    .flex-table .offset-11 {
      margin-left: calc(((100% / 12) * 11)); } }
  @media (min-width: 576px) {
    .flex-table .cell-12 {
      width: calc(((100% / 12) * 12) - 2em); }
    .flex-table .offset-12 {
      margin-left: calc(((100% / 12) * 12)); } }
  @media (min-width: 576px) {
    .flex-table .cell-tablet-1 {
      width: calc(((100% / 12) * 1) - 2em); }
    .flex-table .offset-tablet-1 {
      margin-left: calc(((100% / 12) * 1)); } }
  @media (min-width: 768px) {
    .flex-table .cell-tablet-2 {
      width: calc(((100% / 12) * 2) - 2em); }
    .flex-table .offset-tablet-2 {
      margin-left: calc(((100% / 12) * 2)); } }
  @media (min-width: 768px) {
    .flex-table .cell-tablet-3 {
      width: calc(((100% / 12) * 3) - 2em); }
    .flex-table .offset-tablet-3 {
      margin-left: calc(((100% / 12) * 3)); } }
  @media (min-width: 768px) {
    .flex-table .cell-tablet-4 {
      width: calc(((100% / 12) * 4) - 2em); }
    .flex-table .offset-tablet-4 {
      margin-left: calc(((100% / 12) * 4)); } }
  @media (min-width: 768px) {
    .flex-table .cell-tablet-5 {
      width: calc(((100% / 12) * 5) - 2em); }
    .flex-table .offset-tablet-5 {
      margin-left: calc(((100% / 12) * 5)); } }
  @media (min-width: 768px) {
    .flex-table .cell-tablet-6 {
      width: calc(((100% / 12) * 6) - 2em); }
    .flex-table .offset-tablet-6 {
      margin-left: calc(((100% / 12) * 6)); } }
  @media (min-width: 768px) {
    .flex-table .cell-tablet-7 {
      width: calc(((100% / 12) * 7) - 2em); }
    .flex-table .offset-tablet-7 {
      margin-left: calc(((100% / 12) * 7)); } }
  @media (min-width: 768px) {
    .flex-table .cell-tablet-8 {
      width: calc(((100% / 12) * 8) - 2em); }
    .flex-table .offset-tablet-8 {
      margin-left: calc(((100% / 12) * 8)); } }
  @media (min-width: 768px) {
    .flex-table .cell-tablet-9 {
      width: calc(((100% / 12) * 9) - 2em); }
    .flex-table .offset-tablet-9 {
      margin-left: calc(((100% / 12) * 9)); } }
  @media (min-width: 768px) {
    .flex-table .cell-tablet-10 {
      width: calc(((100% / 12) * 10) - 2em); }
    .flex-table .offset-tablet-10 {
      margin-left: calc(((100% / 12) * 10)); } }
  @media (min-width: 768px) {
    .flex-table .cell-tablet-11 {
      width: calc(((100% / 12) * 11) - 2em); }
    .flex-table .offset-tablet-11 {
      margin-left: calc(((100% / 12) * 11)); } }
  @media (min-width: 768px) {
    .flex-table .cell-tablet-12 {
      width: calc(((100% / 12) * 12) - 2em); }
    .flex-table .offset-tablet-12 {
      margin-left: calc(((100% / 12) * 12)); } }
  @media (min-width: 768px) {
    .flex-table .cell-small-1 {
      width: calc(((100% / 12) * 1) - 2em); }
    .flex-table .offset-small-1 {
      margin-left: calc(((100% / 12) * 1)); } }
  @media (min-width: 992px) {
    .flex-table .cell-small-2 {
      width: calc(((100% / 12) * 2) - 2em); }
    .flex-table .offset-small-2 {
      margin-left: calc(((100% / 12) * 2)); } }
  @media (min-width: 992px) {
    .flex-table .cell-small-3 {
      width: calc(((100% / 12) * 3) - 2em); }
    .flex-table .offset-small-3 {
      margin-left: calc(((100% / 12) * 3)); } }
  @media (min-width: 992px) {
    .flex-table .cell-small-4 {
      width: calc(((100% / 12) * 4) - 2em); }
    .flex-table .offset-small-4 {
      margin-left: calc(((100% / 12) * 4)); } }
  @media (min-width: 992px) {
    .flex-table .cell-small-5 {
      width: calc(((100% / 12) * 5) - 2em); }
    .flex-table .offset-small-5 {
      margin-left: calc(((100% / 12) * 5)); } }
  @media (min-width: 992px) {
    .flex-table .cell-small-6 {
      width: calc(((100% / 12) * 6) - 2em); }
    .flex-table .offset-small-6 {
      margin-left: calc(((100% / 12) * 6)); } }
  @media (min-width: 992px) {
    .flex-table .cell-small-7 {
      width: calc(((100% / 12) * 7) - 2em); }
    .flex-table .offset-small-7 {
      margin-left: calc(((100% / 12) * 7)); } }
  @media (min-width: 992px) {
    .flex-table .cell-small-8 {
      width: calc(((100% / 12) * 8) - 2em); }
    .flex-table .offset-small-8 {
      margin-left: calc(((100% / 12) * 8)); } }
  @media (min-width: 992px) {
    .flex-table .cell-small-9 {
      width: calc(((100% / 12) * 9) - 2em); }
    .flex-table .offset-small-9 {
      margin-left: calc(((100% / 12) * 9)); } }
  @media (min-width: 992px) {
    .flex-table .cell-small-10 {
      width: calc(((100% / 12) * 10) - 2em); }
    .flex-table .offset-small-10 {
      margin-left: calc(((100% / 12) * 10)); } }
  @media (min-width: 992px) {
    .flex-table .cell-small-11 {
      width: calc(((100% / 12) * 11) - 2em); }
    .flex-table .offset-small-11 {
      margin-left: calc(((100% / 12) * 11)); } }
  @media (min-width: 992px) {
    .flex-table .cell-small-12 {
      width: calc(((100% / 12) * 12) - 2em); }
    .flex-table .offset-small-12 {
      margin-left: calc(((100% / 12) * 12)); } }
  @media (min-width: 992px) {
    .flex-table .cell-large-1 {
      width: calc(((100% / 12) * 1) - 2em); }
    .flex-table .offset-large-1 {
      margin-left: calc(((100% / 12) * 1)); } }
  @media (min-width: 1200px) {
    .flex-table .cell-large-2 {
      width: calc(((100% / 12) * 2) - 2em); }
    .flex-table .offset-large-2 {
      margin-left: calc(((100% / 12) * 2)); } }
  @media (min-width: 1200px) {
    .flex-table .cell-large-3 {
      width: calc(((100% / 12) * 3) - 2em); }
    .flex-table .offset-large-3 {
      margin-left: calc(((100% / 12) * 3)); } }
  @media (min-width: 1200px) {
    .flex-table .cell-large-4 {
      width: calc(((100% / 12) * 4) - 2em); }
    .flex-table .offset-large-4 {
      margin-left: calc(((100% / 12) * 4)); } }
  @media (min-width: 1200px) {
    .flex-table .cell-large-5 {
      width: calc(((100% / 12) * 5) - 2em); }
    .flex-table .offset-large-5 {
      margin-left: calc(((100% / 12) * 5)); } }
  @media (min-width: 1200px) {
    .flex-table .cell-large-6 {
      width: calc(((100% / 12) * 6) - 2em); }
    .flex-table .offset-large-6 {
      margin-left: calc(((100% / 12) * 6)); } }
  @media (min-width: 1200px) {
    .flex-table .cell-large-7 {
      width: calc(((100% / 12) * 7) - 2em); }
    .flex-table .offset-large-7 {
      margin-left: calc(((100% / 12) * 7)); } }
  @media (min-width: 1200px) {
    .flex-table .cell-large-8 {
      width: calc(((100% / 12) * 8) - 2em); }
    .flex-table .offset-large-8 {
      margin-left: calc(((100% / 12) * 8)); } }
  @media (min-width: 1200px) {
    .flex-table .cell-large-9 {
      width: calc(((100% / 12) * 9) - 2em); }
    .flex-table .offset-large-9 {
      margin-left: calc(((100% / 12) * 9)); } }
  @media (min-width: 1200px) {
    .flex-table .cell-large-10 {
      width: calc(((100% / 12) * 10) - 2em); }
    .flex-table .offset-large-10 {
      margin-left: calc(((100% / 12) * 10)); } }
  @media (min-width: 1200px) {
    .flex-table .cell-large-11 {
      width: calc(((100% / 12) * 11) - 2em); }
    .flex-table .offset-large-11 {
      margin-left: calc(((100% / 12) * 11)); } }
  @media (min-width: 1200px) {
    .flex-table .cell-large-12 {
      width: calc(((100% / 12) * 12) - 2em); }
    .flex-table .offset-large-12 {
      margin-left: calc(((100% / 12) * 12)); } }
  @media (min-width: 1200px) {
    .flex-table .cell-x-large-1 {
      width: calc(((100% / 12) * 1) - 2em); }
    .flex-table .offset-x-large-1 {
      margin-left: calc(((100% / 12) * 1)); } }
  @media (min-width: 1504px) {
    .flex-table .cell-x-large-2 {
      width: calc(((100% / 12) * 2) - 2em); }
    .flex-table .offset-x-large-2 {
      margin-left: calc(((100% / 12) * 2)); } }
  @media (min-width: 1504px) {
    .flex-table .cell-x-large-3 {
      width: calc(((100% / 12) * 3) - 2em); }
    .flex-table .offset-x-large-3 {
      margin-left: calc(((100% / 12) * 3)); } }
  @media (min-width: 1504px) {
    .flex-table .cell-x-large-4 {
      width: calc(((100% / 12) * 4) - 2em); }
    .flex-table .offset-x-large-4 {
      margin-left: calc(((100% / 12) * 4)); } }
  @media (min-width: 1504px) {
    .flex-table .cell-x-large-5 {
      width: calc(((100% / 12) * 5) - 2em); }
    .flex-table .offset-x-large-5 {
      margin-left: calc(((100% / 12) * 5)); } }
  @media (min-width: 1504px) {
    .flex-table .cell-x-large-6 {
      width: calc(((100% / 12) * 6) - 2em); }
    .flex-table .offset-x-large-6 {
      margin-left: calc(((100% / 12) * 6)); } }
  @media (min-width: 1504px) {
    .flex-table .cell-x-large-7 {
      width: calc(((100% / 12) * 7) - 2em); }
    .flex-table .offset-x-large-7 {
      margin-left: calc(((100% / 12) * 7)); } }
  @media (min-width: 1504px) {
    .flex-table .cell-x-large-8 {
      width: calc(((100% / 12) * 8) - 2em); }
    .flex-table .offset-x-large-8 {
      margin-left: calc(((100% / 12) * 8)); } }
  @media (min-width: 1504px) {
    .flex-table .cell-x-large-9 {
      width: calc(((100% / 12) * 9) - 2em); }
    .flex-table .offset-x-large-9 {
      margin-left: calc(((100% / 12) * 9)); } }
  @media (min-width: 1504px) {
    .flex-table .cell-x-large-10 {
      width: calc(((100% / 12) * 10) - 2em); }
    .flex-table .offset-x-large-10 {
      margin-left: calc(((100% / 12) * 10)); } }
  @media (min-width: 1504px) {
    .flex-table .cell-x-large-11 {
      width: calc(((100% / 12) * 11) - 2em); }
    .flex-table .offset-x-large-11 {
      margin-left: calc(((100% / 12) * 11)); } }
  @media (min-width: 1504px) {
    .flex-table .cell-x-large-12 {
      width: calc(((100% / 12) * 12) - 2em); }
    .flex-table .offset-x-large-12 {
      margin-left: calc(((100% / 12) * 12)); } }

body,
html {
  margin: 0; }

.bg-black-normal {
  background-color: #000; }

.bg-black-light {
  background-color: #333; }

.bg-black-lighter {
  background-color: #555; }

.bg-white-normal {
  background-color: #FFF; }

.bg-white-dark {
  background-color: #F5F5F5; }

.bg-white-darker {
  background-color: #EEE; }

body {
  display: flex;
  flex-direction: column;
  min-height: 100%; }

html {
  height: 100%; }

#main {
  flex-grow: 1; }

.text-black-normal {
  color: #000; }

.text-black-light {
  color: #333; }

.text-black-lighter {
  color: #555; }

.text-white-normal {
  color: #FFF; }

.text-white-dark {
  color: #F5F5F5; }

.text-white-darker {
  color: #EEE; }

/*# sourceMappingURL=ubiq.css.map */